{# Plantilla de nuestra Aplicacion #}
{% extends "base.html.twig"%}
{# TITULO #}
{% block titulo %}
    Reservas
{% endblock %}

{# CONTENIDO #}
{% block contenido %}
    <!-- Page Content -->
    <div class="container">
        <h1 class="mt-4 mb-3">Reservas</h1>
        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Acciones</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Num Comensales</th>
                            <th scope="col">Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reserva in reservas%}
                        <tr>
                            <th scope="row" style="text-align:center;">
                                <a href="{{path('nuevaReserva',{'id':reserva.id})}}" title="Editar"><i class="fas fa-edit"></i></a>
                                <a href="#" title="Borrar" onclick="return controlBorrado('{{path('borrarReserva',{'id':reserva.id})}}','{{reserva.fecha|date('Y/m/d h:i')}}');"><i class="far fa-trash-alt"></i></a>
                            </th>
                            <td>{{reserva.fecha|date('Y/m/d h:i')}}</td>
                            <td>{{reserva.comensales}}</td>
                            <td>{{reserva.observaciones}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{{asset('js/controlBorrado.js')}}"></script>
{% endblock %}